body
{
	margin:0;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	background: #fff;
	color: #4c4c4c;
	font: normal 87.5%/1.5 Tahoma, Verdana, Segoe, sans-serif;
}

.card-img, .card-img-top
{
	height:15em;
}

.pdfBk a
{
	color: #fff;
	background-color: #1b3155;
	padding: 0.5em;
	display: block;
	text-align: center;
}

h3
{
	font-size: 1.5em;
	font-weight: bold;
}

.sep2
{
	margin: auto;
	width: 450px;
	height: 0px;
	left: 630.98px;
	top: 1030px;
	margin-top: 3rem;
	border: 1px solid #00345f;
}

#chiffre
{
	background-color: #148cbc;
	color: white;
}

.bandeau-visuelle img
{
	width: 100%;
	background-size: cover;
}

#reseaux img
{
	height: 2.2em !important;
	margin-right: 10px;
}

h2
{
	font: 500 1.57143em Rockwell, rokkittregular, Tahoma, Verdana, Segoe, sans-serif;
	color: #148dc8;
}

h1
{
	text-transform: none;
	font: 500 2.2em sansationregular;
	color: rgba(0,52,65,1);
	background: #fff;
	border-bottom: 0px solid rgba(0,52,65,1);
	min-height: 2em;
	margin: 0 !important;
	padding: 1.5em .5em .5em .5em !important;
}

.texte
{
	font-size:medium;
}

a{
	font-size: medium;
}
.card-title{background: rgba(20,141,200,1);color:white;} .card{border-color:#00345f;}

.logo img
{
	width:85px;
	height:85px;
	margin-left:1.2rem;
}

.logo .ent
{
	color:white;
	font-size:1.3rem;
}

.fa-user:before
{
	content: "\f007";
	color:white;
	font-size:1.3rem;
}

.navbar-brand img
{
	height: 4rem;
}

#navbarNavDropdown
{
	font-size: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover
{
	color:#148dc8;
}

.navbar
{
	background-color: white;
}

.bg-light
{
	background-color: #00345f!important;
}

.navbar-light .navbar-nav .nav-link
{
	color: #00345f;
	font-family: sansationregular, Tahoma, Verdana, Segoe, sans-serif;
}

li
{
	font-size:medium;
}

.navbar-light .navbar-nav .active>.nav-link
{
	color: #148cbc;
}

.titre
{
	color:white;
	font-family: sansationregular, Tahoma, Verdana, Segoe, sans-serif;
	font-size: 2em;
}

/*Carousel*/
.carousel-inner img
{
	height: 25em;
}

/*Images des articles version desktop*/
.col-lg-3 img
{
	padding-top: 1.5rem;
	height: 95%;
	width: 100%;
}

footer
{
	background-color: #00345f;
}

@media screen and (max-width: 991px)
{
	.carousel-inner img
	{
		height: 28em;
	}

	.titre
	{
		display:none;
	}

	.logo img
	{
		width:55px;
		height:55px;
	}

	.logo .ent
	{
		font-size: 1rem;
	}

	.fa-user:before
	{
		content: "\f007";
		font-size:1rem;
	}

	.navbar-brand img
	{
		height: 2.8rem;
	}
}

@media screen and (max-width: 767px)
{
	.carousel-inner img
	{
		height: 18em;
	}

	.titre
	{
		display:none;
	}
}