<!doctype html>
<html lang="fr">
	<body>
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="/"><img alt="ecriture" src="{{ base_path ~ directory }}/img/logo.svg"></a>
			<div class="titre">
				UNIVERSITÉ DE 
				<strong>PICARDIE</strong>
				 JULES VERNE
			</div>
			{{ page.footer_first }}
			<div class="logo">
				<a class="ent" target="_blank" href="https://www.u-picardie.fr/ent/render.userLayoutRootNode.uP"><i class="fas mr-2"></i>ENT</a>
				<img alt="logo-upjv" src="{{ base_path ~ directory }}/img/upjv.png">
			</div>
		</nav>
		<nav class="navbar navbar-expand-lg navbar-light">
			<div id="reseaux" class="col-4 justify-content-start ml-4 mt-2 mb-2">
				<a target="_blank" href="https://webtv.u-picardie.fr/"><img alt="logo-webtv" src="{{ base_path ~ directory }}/img/webtv.png"></a>
				<a target="_blank" href="https://www.facebook.com/UPJV.Univ"><img alt="logo-fb" src="{{ base_path ~ directory }}/img/facebook.png"></a>
				<a target="_blank" href="https://twitter.com/UPJV_Univ"><img alt="logo-tw" src="{{ base_path ~ directory }}/img/twitter.png"></a>
				<a target="_blank" href="https://www.youtube.com/c/UPJVUniv"><img alt="logo-youtube" src="{{ base_path ~ directory }}/img/youtube.png"></a>
				<a target="_blank" href="https://www.linkedin.com/school/upjv-univ/"><img alt="logo-linkedin" src="{{ base_path ~ directory }}/img/linkedin.png"></a>
				<a target="_blank" href="https://www.instagram.com/upjv_univ/"><img alt="logo-insta" src="{{ base_path ~ directory }}/img/instagram.png"></a>
			</div>
			<button class="navbar-toggler justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FORMATIONS</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="miage">Master MIAGE</a>
							<a class="dropdown-item" href="osie">Parcours OSIE</a>
							<a class="dropdown-item" href="sio">Parcours SIO</a>
							<a class="dropdown-item" href="sis">Parcours SIS</a>
							<a class="dropdown-item" href="sid">Parcours SID</a>
							<a class="dropdown-item" href="ine">Parcours INE</a>
						</div>
					</li>
					<li class="nav-item"><a class="nav-link" href="offre">CARRIERES</a></li>
					<li class="nav-item"><a class="nav-link" href="alternance">ALTERNANCE</a></li>
					<li class="nav-item"><a class="nav-link" href="contact/feedback">CONTACT</a></li>
				</ul>
			</div>
		</nav>
                <div class="row justify-content-center">
                        <div class="col-10 ml-3">
                                {{ page.content }}
                        </div>
                </div>
		<hr class="sep2">
		<div class="row justify-content-center">
			<div class="col-10 ml-3">
				<h1>Chiffres clés</h1>
			</div>
		</div>
		<div id="chiffre" class="container justify-content-center">
			<div class="row">
				<div class="col-lg-4 col-md-6 mt-3 mt-lg-5 mb-lg-5 text-center">
					<h4>
						32 000
						<br>
						<span>Etudiants</span>
					</h4>
				</div>
				<div class="col-lg-4 col-md-6 mt-3 mt-lg-5 text-center">
					<h4>
						6
						<br>
						<span>Campus</span>
					</h4>
				</div>
				<div class="col-lg-4 col-md-6 mt-3 mt-lg-5 text-center">
					<h4>
						4
						<br>
						<span>Domaines</span>
					</h4>
				</div>
				<div class="col-lg-4 col-md-6 mt-3 mt-lg-5 mb-lg-5 text-center">
					<h4>
						128
						<br>
						<span>Diplômes</span>
					</h4>
				</div>
				<div class="col-lg-4 col-md-6 mt-3 mt-lg-5 text-center">
					<h4>
						11
						<br>
						<span>UFR</span>
					</h4>
				</div>
				<div class="col-lg-4 col-md-6 mt-3 mt-lg-5 mb-3 text-center">
					<h4>
						7
						<br>
						<span>Instituts</span>
					</h4>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-5 mb-lg-5 mb-3 text-center">
					<h4>
						35
						<br>
						<span>Unités de Recherche</span>
					</h4>
				</div>
				<div class="col-lg-5 text-center">
					<h4>
						2
						<br>
						<span>Écoles Doctorales</span>
					</h4>
				</div>
			</div>
		</div>
		<hr class="sep2">
		<div class="row justify-content-center">
			<div class="col-10 ml-3">
				<h1>Actualités</h1>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6 col-sm">
					<div class="card mb-3 mt-2 col">
						<div class="row no-gutters">
							<div class="col-4 mt-2">
								<img src="{{ base_path ~ directory }}/img/actualite1.png" class="card-img" alt="actualite1">
							</div>
							<div class="col-8">
								<div class="card-body">
									<h5 class="card-title">
										[Conférence] "Les accents de France"
									</h5>
									<p class="card-text">
										Le jeudi 20 mai 2021, à suivre en distanciel dès 18h15
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm">
					<div class="card mb-3 mt-2 col">
						<div class="row no-gutters">
							<div class="col-4 mt-2">
								<img src="{{ base_path ~ directory }}/img/actualite2.png" class="card-img" alt="actualite2">
							</div>
							<div class="col-8">
								<div class="card-body">
									<h5 class="card-title">
										Colloque WIMS 2021
									</h5>
									<p class="card-text">
										Le colloque WIMS permet aux enseignants de tous niveaux du primaire
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm">
					<div class="card mb-3 mt-2 col">
						<div class="row no-gutters">
							<div class="col-4 mt-2">
								<img src="{{ base_path ~ directory }}/img/actualite3.png" class="card-img" alt="actualite3">
							</div>
							<div class="col-8">
								<div class="card-body">
									<h5 class="card-title">
										Journées mastériales
									</h5>
									<p class="card-text">
										Journées mastériales de l'UFR de langues et cultures étrangères
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm">
					<div class="card mb-3 mt-2 col">
						<div class="row no-gutters">
							<div class="col-4 mt-2">
								<img src="{{ base_path ~ directory }}/img/actualite4.jpg" class="card-img" alt="actualite4">
							</div>
							<div class="col-8">
								<div class="card-body">
									<h5 class="card-title">
										CVEC
									</h5>
									<p class="card-text">
										attestation d'acquittement de la Contribution de vie étudiante et de campus
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm">
					<div class="card mb-3 mt-2 col">
						<div class="row no-gutters">
							<div class="col-4 mt-2">
								<img src="{{ base_path ~ directory }}/img/actualite5.png" class="card-img" alt="actualite5">
							</div>
							<div class="col-8">
								<div class="card-body">
									<h5 class="card-title">
										Journées SHS Valo
									</h5>
									<p class="card-text">
										Ils permettront de réfléchir aux impacts sociétaux de la recherche
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm">
					<div class="card mb-3 mt-2 col">
						<div class="row no-gutters">
							<div class="col-4 mt-2">
								<img src="{{ base_path ~ directory }}/img/actualite6.jpg" class="card-img" alt="actualite6">
							</div>
							<div class="col-8">
								<div class="card-body">
									<h5 class="card-title">
										CHROMA
									</h5>
									<p class="card-text">
										La Cathédrale Notre-Dame d'Amiens s'est offert de nouveaux habits/couleurs
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr class="sep2">
		<div class="row justify-content-center">
			<div class="col-10 ml-3">
				<h1>Localisation</h1>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-4 mx-5">
					<h2>Lieux de formation</h2>
					<p class="texte">
						UFR des SciencesPôle scientifique Saint-Leu
						<br>
						33 rue Saint-Leu 80039 Amiens Cedex 1
					</p>
				</div>
				<div class="col-lg-6 col-md-6">
					<p class="texte">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20564.911502177652!2d2.2659657266569844!3d49.887276181689174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e7843be3ec706f%3A0x4aef25fd0f26d703!2sUFR%20des%20sciences%2C%20universit%C3%A9%20de%20Picardie%20Jules-Verne!5e0!3m2!1sfr!2sfr!4v1619792055697!5m2!1sfr!2sfr" width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</p>
				</div>
			</div>
		</div>
		<footer class="p-1 mb-0 text-white text-center">
			<p>
				Université de Picardie Jules Verne - Chemin du Thil - 80025 AMIENS Cedex 1
			</p>
		</footer>
	</body>
</html>
